<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764600445241-tt1gof4en3urcriptlv9ckh198um3cj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764600445241-tt1gof4en3urcriptlv9ckh198um3cj0</string>
	<key>API_KEY</key>
	<string>AIzaSyBjargrabRWfbeG4fy-3jfsvR9qqisEcjg</string>
	<key>GCM_SENDER_ID</key>
	<string>764600445241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sivhourang.Messenger-Demo</string>
	<key>PROJECT_ID</key>
	<string>messenger-69f5e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-69f5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764600445241:ios:3d705bb538e17a8db020e8</string>
</dict>
</plist>